 .info {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: -30px;

 
  /* display flex pour que tout les cadres devienne en seule ligne   */
} 
#aa{
  width: 100%;

height: 300px  ;

}


.cont{
  background-color: blueviolet;
 
 width: 30%;
 
 
  
} 

.input{
  display: flex;
  flex-flow:row wrap;
  height: 300px;
 border: 2px solid red;
 justify-content: space-between 

  
}
/* #tx{
  height:100px;
  width: 30% !important;
} */
.FIL{
  
  display: flex;
  flex-flow: column wrap;
 
  margin-right: 20px;
  align-self: center;
}
.in{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.171);
}
#but{
  margin-top: 5px;
  border-radius: 20px;
}
#rech{
  width: 40px;
  height: 40px;
}
label{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  
}
.con1{
  background-color: rgba(194, 42, 67, 0.411);
}
#ca{
  height: 500px ;
}
.txf{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
}